<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/add_user">Login/Registration</a>
                </li>
                 <li>
                    <a href="/add_article">New Post</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
                {% if session.logged_in %}
                <li>
                    <a href="logged_out">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>