{% extends "includes/base.html" %}

{% block body %}
<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('static/cat/img/love-romantic-sweet-heart-4096.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Us</h1>
                        <hr class="small">
                        <span class="subheading">This is what we do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Hello There! We are happy you found our blog.</p>
                <p>In a few words, our passion is coding and new technologies. Also, we are not afraid of hard work, however we find it really hard to get up in the morning. We look like in the below video every day. When alarm goes off, we start opening our eyes and are terrified. Fortunately, rest of the day is always better.</p>
                <p>We deal with IT problems every day and offer solutions. In addition, we train people, so if you are interested, don't hesitate and contact us. We believe that there is always a solution. </p>
                <p>&nbsp;</p>
                <div align="center" class="embed-responsive embed-responsive-16by9">
                    <video autoplay loop class="embed-responsive-item">
                        <source src="static/css/video/avGow7n_460sv.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}


